@use "../../App.scss" as *;

.command-list {
  margin-top: 5rem;
  width: 100%;
  height: 36%;
  background-color: $background-gray;
  overflow-y: scroll;
  color: $font-gray-light-2;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.116);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2))
    );
  }
  &__item {
    line-height: 2rem;
  }
}
