@use "../../App.scss" as *;
.company {
  color: $font-light;
  &__img {
    height: 15rem;
    width: 100%;
  }
  &__info {
    margin-top: 2rem;
    text-align: center;
  }
  &__description {
    margin: 1.3rem 0;
    font-weight: 500;
    text-align: center;
  }
}

.address-icon {
  display: inline-block;
  margin-right: 6px;
  transform: translateY(2px);
}
