@use "../../App.scss" as *;

.side-left {
  height: 100vh;
  width: 39.3rem;
  padding: 3.6rem 2.7rem;
  background-color: $primary-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .side-left {
    display: none;
  }
}
