@use "../../App.scss" as *;

.side-right {
  height: 100vh;
  width: 32rem;
  min-width: 32rem;
  background-color: $background-white;
  box-shadow: rgb(99 99 99 / 20%) -1px 0px 12px 0px;
}

@media screen and (max-width: 700px) {
  .side-right {
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
  }
}
