@use "../../App.scss" as *;

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  &__avatar {
    width: 18.8rem;
    height: 18.8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 3rem 0;
  }
  &__name {
    color: $font-gray-dark;
  }
  &__position {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
  &__detail {
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $font-gray-light-2;
    & > li > span {
      display: inline-block;
      margin-left: 1rem;
      transform: translateY(-2px);
    }
  }
}
