@use "../../App.scss" as *;

.main-header {
  color: $font-gray-dark;
  height: 10.3rem;
  box-shadow: rgb(99 99 99 / 20%) 0px -1px 12px 0px;
  padding: 3rem 2.2rem;
  &__name {
    font-size: 3.3rem;
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-color: #77e105;
      border-radius: 50%;
      transform: translateY(-5px);
      margin-right: 10px;
    }
  }
}
