@use "../../App.scss" as *;
.message {
  height: 7.4rem;
  width: 100%;
  background-color: $secondary-color;
  position: relative;
  &__form {
    width: 100%;
    height: 100%;
  }
  &__input {
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $font-gray-light-1;
    }
  }

  &__button {
    position: absolute;
    font-size: 2rem;
    color: $font-light;
    background-color: $primary-color;
    padding: 1rem 1rem;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    line-height: 0;
    color: $font-light;
  }
}
