@use "../../App.scss" as *;
.message-list {
  flex: 1 1 auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    transition: all 0.4s;
    &:not(:last-child) {
      margin-top: 6rem;
    }
    &.client {
      flex-direction: row-reverse;
    }
  }
  &__item-avatar {
    min-width: 4.6rem;
    min-height: 4.6rem;
    max-width: 4.6rem;
    max-height: 4.6rem;
    border-radius: 50px;
    overflow: hidden;
    transform: translateY(50%);
    margin-right: 2rem;
    &.client {
      margin-right: 0;
      margin-left: 2rem;
    }
  }
  &__text {
    background-color: $primary-color;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 28rem;
    color: $font-light;
    font-size: 1.7rem;
    font-weight: 500;
    &.client {
      background-color: #eaeaea;
      color: $font-gray-dark;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 10px;
    }
  }
}
